/* Style Sheet */


* {
	border: 2px solid gray;
}


table {
	table-layout: fixed;
}


.lanes {
	/*border: 2px solid gray;*/
	width: 80px;
	height: 80px;
}




.player1 {
	background-image: url('http://icons.iconarchive.com/icons/martin-berube/animal/256/panda-icon.png');
	background-size: cover;
	width: 100px;
	height: 100px;
}

.player2 {
	background-image: url('http://www.clker.com/cliparts/F/v/O/6/E/c/cartoon-rubber-duck-hi.png');
	background-size: cover;
	width: 100px;
	height: 140px;
}

.scoreboard {
	border-style: dashed 1px black;
}

